{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static '/scss/cart/cart.css' %}">
{% endblock styles %}
{% block content %}
</header>
{% if cartEmpty or cart.total == 0 %}
<main>
    <h2>Twój koszyk jest pusty!</h2>
    <p>Wróć na <a href="{% url 'home'%}">stronę główną</a> i poszukaj produktów dla siebie. Jesteśmy pewni, że coś
        znajdziesz!</p>
    <h2>polecane produkty</h2>
    <div class="h2line"></div>
    <section class="products">
        {% for product in products %}
        {% if product.saleToday == True %}
        <section class="item">
            <a href="{% url 'singleprod' product.slug %}">
                <figure class="productpic">
                    <img src="{{ product.thumbnail.url }}" alt="" />
                </figure>
            </a>
            <span class="price">
                <p>
                    {{ product.sale }} zł</p>
            </span>
            <a href="{% url 'singleprod' product.slug %}">
                <span class="caption">
                    <h4>
                        {{ product.model }}</h4>
                    <p>
                        {{ product.brand }}</p>
                </span>
            </a>
            <span
                class="numinstock {% if product.inStock < 10 and product.inStock > 0 %} instocklow {% elif product.inStock == 0 %} instocknone {% endif %}">
                {% if product.inStock == 0 %}
                <p>wyprzedane</p>
                {% else %}
                <p>pozostało: &nbsp;</p> {{ product.inStock }}
                {% endif %}
            </span>
            <button onclick="window.location.href='{% url 'update_cart' product.slug 1 %}'" class="addtocart"
                {% if product.inStock == 0 %} disabled {% endif %}><i class="fa fa-shopping-cart"></i></button>
            <button class="addtofav"><i class="fa fa-heart"></i></button>
        </section>
        {% endif %}
        {% endfor %}
    </section>
</main>
{% else %}
<main>
    <h2>Twój koszyk</h2>
    <table>
        <thead>
            <td>produkt</td>
            <td>cena</td>
            <td>ilość</td>
            <td>usuń</td>
        </thead>
        {% for item in cart.cartitem_set.all %}
        <tr>
            <td class="imgname">
                <figure><img src="{{ item.product.thumbnail.url }}" alt=""></figure>
                <p><a href="{% url 'singleprod' item.product.slug %}">{{ item.product }}</a></p>
            </td>
            <td>{{ item.product.sale }} zł</td>
            <td>{{ item.quantity }}</td>
            <td><a href="{% url 'update_cart' item.product.slug 0 %}"><i class="fa fa-times-circle"></i></a></td>
        </tr>
        {% endfor %}
        <tfoot>
            <td>łącznie:</td>
            <td></td>
            <td></td>
            <td>{{ cart.total }} zł</td>
        </tfoot>
    </table>
    <button>do kasy</button>
    <aside class="foryou">
        <h3>mogą Cię zainteresować</h3>
        <div class="h3line"></div>
        <section id="carousel2" class="carousel slide" data-ride="carousel">
            <article class="carousel-inner">
                {% for product in products %}
                <section class="carousel-item item">
                    <section>
                        <figure class="productpic">
                            <img src="{{ product.thumbnail.url }}" alt="" />
                        </figure>
                        <span class="price">
                            <p>
                                {{ product.price }}</p>
                        </span>
                        <span class="caption">
                            <h4>
                                {{ product.model }}</h4>
                            <p>
                                {{ product.brand }}</p>
                        </span>
                        <span
                            class="numinstock {% if product.inStock < 10 and product.inStock > 0 %} instocklow {% elif product.inStock == 0 %} instocknone {% endif %}">
                            {% if product.inStock == 0 %}
                            <p>wyprzedane</p>
                            {% else %}
                            <p>pozostało: &nbsp;</p> {{ product.inStock }}
                            {% endif %}
                        </span>
                        <button class="addtocart"><i class="fa fa-shopping-cart"></i></button>
                        <button class="addtofav"><i class="fa fa-heart"></i></button>
                    </section>
                </section>
                {% endfor %}
            </article>
            <a class="carousel-control-prev carousel-controls" href="#carousel2" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next carousel-controls" href="#carousel2" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
                <span class="sr-only">Next</span>
            </a>
        </section>
    </aside>
</main>
{% endif %}
{% endblock content %}