body {
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
}

main {
    display: grid;
    padding-top: 5em;
    grid-template-columns: 1fr 5fr;
    grid-template-areas: "leftcat rightcat";
    position: relative;
}

main .leftcat {
    margin: 2em 5em;
    border-right: 1px solid #404040;
    /* padding: 0 4em; */
    width: 10em;
    height: 50%;
    position: fixed;
    grid-area: leftcat;
}

main .leftcat h1 {
    font-weight: 400;
    margin-bottom: 1rem;
}

main .leftcat h3 {
    font-size: 1.3rem;
}

main .leftcat * {
    transition-duration: .5s;
}

main .leftcat h3 a:hover {
    margin-left: .5rem;
}

main .leftcat h3.subcatact a {
    font-weight: bolder;
    margin-left: .5rem;
}

div.catline {
    width: 0;
    margin: 0 auto;
    border-bottom: 1px solid #404040;
}

main .productscat {
    grid-area: rightcat;
    margin-top: 2em;
}

.singleprodcat {
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1.5fr 2fr 3fr 1fr 1fr;
    align-items: center;
    margin-bottom: 1em;
    transition-duration: .5s;
}

.singleprodcat figure {
    width: 8em;
    height: 8em;
    box-shadow: 2px 2px 8px #4040402f;
    border-radius: 1em;
    overflow: hidden;
}

.singleprodcat figure img {
    width: 100%;
}

.singleprodcat h3 {
    font-weight: 400;
}

.singleprodcat:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.singleprodcat .buttonscat button {
    display: block;
    width: 50%;
    border-radius: 1em;
    margin: .5em 0;
    box-shadow: 2px 2px 8px #4040402f;
    z-index: 9999;
    transition-duration: .5s;
}

.singleprodcat .buttonscat button:hover {
    transform: scale(1.1);
    background-color: #404040;
    color: #fff;
}