{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static '/scss/cat/cat.css' %}">
{% endblock styles %}

{% block content %}
</header>
<main>
    <section class="leftcat">
        <h1>{{ cat }}</h1>
        {% if subcats %}
        {% for c in subcats %}
        {% if c.title in subcat %}
        <h3 class="subcatact"><a href="#">{{ subcat }}</a></h3>
        {% endif %}
        {% if c.title != subcat %}
        <h3><a href="{% url 'subcategory' cat=cat subcat=c.title %}">{{ c.title }}</a></h3>
        {% endif %}
        {% endfor %}
        {% endif %}
    </section>
    <section class="productscat">
        {% for p in products %}
        <section class="singleprodcat">
            <figure class="productcatpic" onclick="window.location.href='{% url 'singleprod' p.slug %}'">
                <img src="{{ p.thumbnail.url }}" alt="" />
            </figure>
            <span onclick="window.location.href='{% url 'singleprod' p.slug %}'">
                <h3>{{ p.model }}</h3>
                <p>{{ p.brand }}</p>
            </span>
            <p onclick="window.location.href='{% url 'singleprod' p.slug %}'">Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Id, adipisci...</p>
            {% if p.sale %}
            <span onclick="window.location.href='{% url 'singleprod' p.slug %}'">
                <del>{{ p.price }} zł</del>
                <p>{{ p.sale }} zł</p>
            </span>
            {% else %}
            <p onclick="window.location.href='{% url 'singleprod' p.slug %}'">{{ p.price }} zł</p>
            {% endif %}
            <section class="buttonscat">
                <button class="addtocartcat" onclick="window.location.href='{% url 'update_cart' p.slug 1 %}'"><i
                        class="fa fa-shopping-cart"></i></button>
                <button class="addtofavcat"><i class="fa fa-heart"></i></button>
            </section>
        </section>
        <!-- <div class="catline"></div> -->
        {% endfor %}
    </section>
</main>
{% endblock content %}