{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    {% block styles %}
    {% endblock styles %}
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title>MK Shop</title>
</head>

<body>
    <!-- <div class="screenload"><img src="{% static '/img/mkshop.png' %}" alt="">
        <h1>twuj sklep</h1>
    </div> -->
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{% url 'cart' %}">
                        <i class="fa fa-shopping-cart"></i>
                        <sub>{{ request.session.itemsInCart }}</sub>
                    </a>
                </li>
                <li>
                    <a href="{% url 'category' cat='men' %}" role="button">men</a>
                    <section class="dropdown">
                        <a href="{% url 'subcategory' cat='men' subcat='sneakersy'%}">sneakersy</a>
                        <a href="#">sale</a>
                    </section>
                </li>
                <li>
                    <a href="{% url 'category' cat='women' %}" role="button">women</a>
                    <section class="dropdown">
                        <a href="{% url 'subcategory' cat='women' subcat='sneakersy'%}">sneakersy</a>
                        <a href="#">sale</a>
                    </section>
                </li>
                <li>
                    <a href="{% url 'home' %}"><img src="{% static '/img/mkshop.png' %}" alt=""></a>
                </li>
                <li class="active">
                    <a href="{% url 'home' %}">home</a>
                </li>
                <li>
                    <a href="#">kontakt</a>
                </li>
                <li>
                    <a href=""><i class="fa fa-user"></i></a>
                </li>
            </ul>
            <form action='{% url 'search' %}' class="search">
                <input type="text" id="navSearch" name='search' placeholder="szukaj">
                <button type=submit><i class="fa fa-search"></i></button>
            </form>
        </nav>
        {% block content %}
        {% endblock content%}
        <footer>
            <section class="socialfooter">
                <ul>
                    <li><a href=""><img src="{% static '/img/socials/fbicon.png' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static '/img/socials/fbicon.png' %}" alt=""></a></li>
                    <li><a href=""><img src="{% static '/img/socials/fbicon.png' %}" alt=""></a></li>
                </ul>
            </section>
            <a class="logofooter" href="{% url 'home' %}"><img src="{% static '/img/mkshop.png' %}" alt=""></a>
            <section class="menufooter">
                <ul>
                    <li><a href="">Lorem, ipsum dolor.</a></li>
                    <li><a href="">Voluptas, culpa quidem.</a></li>
                    <li><a href="">Sit, repudiandae voluptates?</a></li>
                    <li><a href="">Debitis, nisi eveniet?</a></li>
                </ul>
            </section>
        </footer>
        {% block js %}
        {% endblock js %}
        <script>
            // $(window).on('load', function () {
            //     $('.screenload').addClass('screenloaded');
            // });
            $(document).ready(function () {
                $('#carousel2 .carousel-item').first().addClass('active');
            });
        </script>
</body>

</html>